html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #242424;
}

#form-div {
    background-color: #efefef;
    max-width: 500px;
    position: relative;
    top: 30%;
    padding: 40px;
}

.alert {
    margin: 0;
}

#alert-area {
    max-width: 500px;
    position: relative;
    top: 30%;
    margin-top: 20px;
    padding: 0;
}