html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #242424;
}

/* PRE LOGIN! */
#title-area{
    position: relative;
    top: 20%;
}

#title-area h1 {
    color: white;
    text-align: center;
}

#form-div {
    background-color: #efefef;
    max-width: 500px;
    position: relative;
    top: 23%;
    padding: 40px;
}

#spinner-div {
    margin-top: 15px;
    height: 34.5px;
}

.row {
    margin: 0 0 10px 0;
}

.col-3, .col-4, .col-8, .col-9, .col-12, .col {
    padding: 0 10px;
}

.alert {
    margin: 0;
}

#submit {
    position: relative;
    top: 20px;
}

#alert-area {
    max-width: 500px;
    position: relative;
    top: 23%;
    margin-top: 20px;
    padding: 0;
}

#text-signup-div {
    margin-top: 15px;
    font-size: 14px;
}

/* AFTER LOGIN! */
.container-lg {
    background-color: white;
    width: 90%;
    padding: 20px;
    position: relative;
    top: 10%;
    max-width: 800px;
}

.container-lg h1 {
    text-align: center;
}

#buttons-row {
    margin-top: 20px;
}

#edit-buttons {
    margin: 0;
    text-align: right;
}

#alert-area-after{
    position: relative;
    width: 90%;
    max-width: 800px;
    top: 10%;
    margin-top: 20px;
    padding: 0;
}